<!-- this file should be in src/test/resources -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Suite">
	<test name="List tests">
		<packages>
			<package name="com.egtinteractive.list" />
			<package name="com.egtinteractive.map" />
			<package name="com.egtinteractive.tree" />
		</packages>
	</test>
</suite>